@page "{conferenceId?}"
@model LeagueSite.Pages.Teams.IndexModel
@{
    ViewData["Title"] = "Teams";
}

<h1>Find your team</h1>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @foreach (var conf in Model.Conferences)
            {
                <a class="nav-link text-dark flex-grow-1" style="flex: 0 0 auto" asp-area="" asp-page="/Teams/Index" asp-route-conferenceId=@conf.ConferenceId>@conf.Name</a>
            } 
        </div>
    </div>
    
</nav>

<h2 class="bg-secondary text-white">Divisons</h2>

@foreach(var division in Model.Divisions)
{
  <div class="border-left border-right border-bottom border-secondary">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#@division.DivisionId" aria-controls="@division.DivisionId" aria-expanded="false" aria-label="Toggle navigation">
              <span>@division.Name</span>
          </button>
      </div>
      <div class="collapse" id="@division.DivisionId">

         <div class="d-flex bg-primary text-white">
           <div class="p-2" style="flex:0 0 50%">
             Team
           </div>
           <div class="p-2" style="flex:1 0 auto">
             Win/Loss/Tie
           </div>
         </div>

         @foreach (var team in Model.Teams)
         {
             if (team.DivisionId == division.DivisionId)
             {
                
                <div class="d-flex border-left border-right border-bottom border-secondary">
                    <div class="p-2" style="flex:0 0 50%">
                       <a class="nav-link text-dark" asp-area="" asp-page="/Teams/Team" asp-route-id=@team.TeamId>@team.Name</a>
                    </div>
                    <div class="d-flex" style="flex:1 0 auto">
                       <span style="flex:0 0 5%; text-align:center">@team.Win</span>
                       <span style="flex:0 0 1%">-</span>
                       <span style="flex:0 0 5%; text-align:center">@team.Loss</span>
                       <span style="flex:0 0 1%">-</span>
                       <span style="flex:0 0 5%; text-align:center">@team.Tie</span>
                    </div>
                </div>
             }
         }
      </div>
  </div>
  
}
